<div class="section">

  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">Power</h5>

        <p class="light">Power to the city</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">invert_colors</i></h2>
        <h5 class="center">Water to the city</h5>

        <p class="light">
          We provide a  clean, reliable water supply to the city. You can find
          out how we are doing <a href="/waterstats">here</a>
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">live_help</i></h2>
        <h5 class="center">Need Help</h5>

        <p class="light">We have setup a system where you can report problems.</p>
      </div>
    </div>
  </div>
</div>
